@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 300;
  src: local('Nunito-Light'), url(https://fonts.gstatic.com/s/nunito/v7/1TiHc9yag0wq3lDO9cw0vpBw1xU1rKptJj_0jans920.woff2) format('woff2'), url(https://fonts.gstatic.com/s/nunito/v7/1TiHc9yag0wq3lDO9cw0vrO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  margin: 0;
  font-size: 100%;
  font-family: 'Nunito', sans-serif;
  color: #333;
  background: #fbfbfb;
  line-height: 1.5;
  font-weight: 100;
  border-collapse: collapse;
}

a {
  text-decoration: none;
}

h1 {
  margin: 0 auto;
  padding: 20px 0 20px;
  font-weight: 100;
  font-size: 1.2em;
  max-width: 800px;
  line-height: 1.3;
  color: #34495e;
}

main {
  text-align: center;
  padding: 0 20px 20px;
}

input,
input:focus,
input:active {
  color: #34495e;
}

#input {

  max-width: 500px;
  margin: auto;
  position: relative;
}

a {
  color: #3498db;
}

a:visited {
  color: #7f8c8d;
}

a:focus:not(button a),
a:active {
  outline: none;
  border: 1px solid #0074D9;
  -webkit-box-shadow: 0 0 4px 0 #0074D9;
  box-shadow: 0 0 4px 0 #0074D9;
}

button a,
button a:visited {
  color: #34495e;
}

button a:focus {
  outline: none;
}

button {
  cursor: pointer;
  float: right;
  color: #34495e;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #34495e;
  position: absolute;
  top: 60px;
  right: 0;
}

button:hover,
button:hover a {
  border-color: #0074D9;
  color: #0074D9;
}

button:active {
  border-color: #0074D9;
  color: #0074D9;
}

button:focus {
  color: #0074D9;
  outline: none;
  border: 1px solid #0074D9;
  -webkit-box-shadow: 0 0 4px 0 #0074D9;
  box-shadow: 0 0 4px 0 #0074D9;
}

button:focus a {
  color: #0074D9;
}

button:first-of-type {
  right: 55px;
}

#search {
  padding: 0.5em;
  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
  max-width: 100%;
  box-sizing: border-box;
  width: 500px;
  border: 1px solid #34495e;
  background-color: white;
}

#search:focus {
  outline: none;
  border: 1px solid #0074D9;
  -webkit-box-shadow: 0 0 4px 0 #0074D9;
  box-shadow: 0 0 4px 0 #0074D9;
}

#output {
  min-height: 0;
  text-align: left;
  max-width: 700px;
  margin: auto;
  font-size: 0.8em;
}

@media (min-width: 700px) {
  body {
    font-size: 134%;
  }
}

